 <%= javascript_pack_tag "team/modal" %>

 <div class="actions w-full mt-4">
 <p className="font-normal mt-2">

                Are you sure you want to delete
                <b className="font-bold"><%= "#{@user.first_name} #{@user.last_name}"  %></b>? This action cannot
                be reversed.
              </p>
                <%= button_to "DELETE", team_path(@user), method: :delete, class: "tracking-widest h-10 w-full flex justify-center py-1 px-4 border border-transparent shadow-sm text-base font-sans font-medium text-miru-white-1000 bg-miru-han-purple-1000 hover:bg-miru-han-purple-600 focus:outline-none rounded cursor-pointer" %>
  </div>
